@{
    ViewData["Title"] = "Home Page";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(function(){
        var intervalID = setInterval(function() {

            $.ajax({
              url:'api/DateTimeStamp',
              method:'GET',
              dataType:'json',
              success:function(res){
                  document.getElementById("dateTimeFormat").textContent = res.DateTimeFormat;
                  document.getElementById("dateTimeStamp").textContent = res.DateTimeStamp;
              },
              error:function(err){
                  console.log(err)
              },
            });
        }, 1000);
        
    });
    
</script>

<div class="text-center">
    <h1 class="display-4">HelloWorld</h1>
    <p id="dateTimeFormat"></p>
    <p id="dateTimeStamp"></p>
</div>
